[user]
	name = Ben Gardiner
	email = ben.l.gardiner@gmail.com
[color]
	ui = auto
[credential]
	helper = cache
[alias]
	ldog = log --decorate=auto --oneline --graph
[diff]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
